* {
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
  margin: 20px auto;
  max-width: 140px;
  border: thin solid black;
}

#operation {
  width: 97%;

}

.row {
  display: inline-block;
  text-align: center;
  min-width: 32px;
}

.fifthRow {
  height: 18.86px;
}